@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --p-black: #000000; /* Principal */
    --t-black: #FFFFFF; /* Secundário */
    --dark-blue: #2E3F6E; /* Destaque (Azul Escuro) */
    --sky-blue: #7FA9FF; /* Destaque (Azul Claro) */
    --smoke-white: #E5E5E5; /* Acento (Cinza Claro) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------
Globais
---------------------------*/
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    background-color: var(--p-black);

    
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    color: var(--smoke-white);
}

.sr-only {
    position: absolute;
    left: -999em;
}

/*---------------------------
Header
---------------------------*/
.banner__header {
    margin: 30px 0;
    
    border-radius: 10px;

    font-size: 1rem;
    color: var(--smoke-white);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}


    .banner__title {
        margin: 10px 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
    .banner__text { margin-bottom: 10px;}

    .banner__link { 
        color: var(--light-blue);
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .banner__btn {
        background-color: var(--dark-blue);
        color: var(--smoke-white);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .banner__btn:focus,
    .banner__btn:hover {
        transform: translateY(-2px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    }

    .banner__acessibilities,
    .banner__menu {
        position: relative;
        margin: 0 0 30px;

    }
      
    .banner__accessibilities-toggle,
    .banner__menu-toggle {
        display: none;
    }
    
    .banner__acessibilities-label,
    .banner__menu-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;

        box-shadow: 3px 3px 3px rgb(0, 0, 0, 80);   

        border-radius: 4px;
        font-size: 1.125rem;
        cursor: pointer;
    }

    .banner__acessibilities-dropdown,
    .banner__menu-dropdown {
        visibility: hidden;
        position: absolute;
        margin: 0px auto;
        max-height: 0;
        width: 150px;
        padding: 10px;
        overflow: hidden;    
        box-shadow: 3px 3px 3px rgb(0, 0, 0, 80);   
      
        border-radius: 5px;

        background-color: var(--p-black);
     
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 1;
    }

    .banner__accessibilities-toggle:checked + .banner__acessibilities-label + .banner__acessibilities-dropdown,
    .banner__menu-toggle:checked + .banner__menu-label + .banner__menu-dropdown {
        visibility: visible;
        max-height: 400px;
    }

    .banner__acessibilities-item,
    .banner__menu-item {
        margin: 10px 0;
    }

    .banner__acessibilities .banner__link:hover,
    .banner__acessibilities .banner__link:focus,
    .banner__menu-item:hover,
    .banner__menu-item:focus {
        scale: 1.1;

        background-color: var(--dark-blue);
        color: var(--smoke-white);
    }

    .banner__link {
        text-decoration: none;
        color: var(--smoke-white);

        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }


    
    
/*---------------------------
Main
---------------------------*/

    .content__video {
        margin: 30px 0;
        text-indent: 0;
    }

    .content__subtitle {
        margin: 40px 0 20px 0;
        
        text-transform: uppercase;
    }

    .content__bibliography {
        line-height: 1;
    }

    .content__link {
        text-decoration: none;
        color: var(--sky-blue);
    }

    .content__link:visited {
        color: var(--sky-blue);
    }

    .content__link:hover,
    .content__link:focus {
        background-color: var(--dark-blue);
        color: var(--smoke-white);
    }

    .content__video {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        color: var(--light-blue);
        text-align: left;
    }

    .content__awards { list-style: none; }

    .content__award {
        padding-bottom: 30px;
        position: relative;

        display: flex;
        flex-direction: row;
        align-content: left;
    }

    .content__award-year {
        padding: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .content__award:hover {
        scale: 1.1;
    }

    .content__award-text {
        padding: 20px;
    }
    .content__award p {
        margin-bottom: 15px;
    }
    


/*---------------------------
Footer
---------------------------*/
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;

    border-top: 2px solid var(--smoke-white);

    font-size: .875rem;
}

.social-media__links {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.social-media li { margin: 30px 0;}

.social-media li:hover { scale: 1.1;}

.social-media__link {
    padding: 10px;

    color: var(--sky-blue);

    font-size: 2rem;
}

.social-media__message { margin: 30px 0 ;}



@media (max-width: 540px) {

    /*---------------------------
    Globais
    ---------------------------*/
    .banner,
    .content,
    .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: auto;
        margin: 60px 20px;
        padding: 0 40px;

        text-align: left;
    }

    

    .banner__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 400px;
        min-height: 400px;
        max-width: 80vw;
        padding: 0 40px;

        background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%),  url('../img/yvonne-bg.png');
        background-size: cover; 

        text-align: center;

    }

    

    

    .content__subtitle {
        font-size: 1.5rem;
    }

    .content__youtube {
        width: calc(80vw - 40px);
    }

}


@media (min-width: 540px) {
    .banner,
    .content,
    .social-media {
        width: 80vw;
        max-width: 600px;
        height: auto;
        margin: 60px 0;
    }

    .banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 200px; /* Largura do menu */
        height: 100%; /* Altura igual à do viewport */
        color: #fff; /* Cor do texto */
    }

    .banner__navigation {
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: space-between;
    }

    .banner__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 600;
        min-height: 600px;
        max-width: 80vw;
        padding: 0 40px;

        background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%),  url('../img/yvonne-bg.png');
    }

    .banner__menu {
        position: relative;
        margin: 0 0 30px;
    }
      
    .banner__menu-toggle {
        display: none;
    }
    
    .banner__menu-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 5px;

        box-shadow: 3px 3px 3px rgb(0, 0, 0, 80);   

        border-radius: 4px;
        font-size: 1.125rem;
        cursor: pointer;
    }

}
