@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --p-black: #141414;
    --t-black: #000;
    --dark-blue: #2E3150;
    --sky-blue: #6EB8E1;
    --light-blue: #C6FEFF;
    --smoke-white: #F1F4EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0;
    padding: 0;

    background-color: var(--p-black);

    color: var(--smoke-white);
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.sr-only {
    position: absolute;
    left: -999em;
}

p {
    margin-bottom: 1rem;
}


/* Header */

.banner__header {
    min-height: 70vh;
    max-height: 10rem;
    max-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.875rem 0;

    border-radius: 0.625rem;

    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)100%),  url('../img/yvonne-mobile.png');
    background-size: cover;
    background-position: center;
    
    color: var(--smoke-white);
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.8);
}

.banner__title {
    margin: 0.625rem 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.8);
}

.banner__text {
    margin: 0.625rem 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.8);
}

.banner__link {
    color: var(--sky-blue);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.banner__link:hover {
    text-decoration: underline;
}

.banner__btn {
    background-color: var(--dark-blue);
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    border: none;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.8);

    color: var(--smoke-white);

    transition: all 0.3s ease-in-out;

    cursor: pointer;
}

.banner__btn:hover,
.banner__btn:focus {
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.8);

    transform: translateY(-2px);
}

.banner__acessibilities,
.banner__menu {
    position: relative;
    margin: 0 0 1.875rem;
}

.banner__accessibilities-toggle,
.banner__menu-toggle {
    display: none;
}

.banner__acessibilities-label,
.banner__menu-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3125rem;

    box-shadow: 0.1875rem 0.1875rem 0.1875rem rgb(0, 0, 0, 80);   

    border-radius: 0.25rem;
    font-size: 1.125rem;
    cursor: pointer;
}

.banner__acessibilities-dropdown,
.banner__menu-dropdown {
    visibility: hidden;
    position: absolute;
    margin: 0 auto;
    max-height: 0;
    width: 9.375rem;
    padding: 0.625rem;
    overflow: hidden;    
    box-shadow: 0.1875rem 0.1875rem 0.1875rem rgb(0, 0, 0, 80);   
  
    border-radius: 0.3125rem;

    background-color: var(--p-black);
 
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1;
}

.banner__accessibilities-toggle:checked + .banner__acessibilities-label + .banner__acessibilities-dropdown,
.banner__menu-toggle:checked + .banner__menu-label + .banner__menu-dropdown {
    visibility: visible;
    max-height: 25rem;
}

.banner__acessibilities-item,
.banner__menu-item {
    margin: 0.625rem 0;
}

.banner__acessibilities .banner__link:hover,
.banner__acessibilities .banner__link:focus,
.banner__menu-item:hover,
.banner__menu-item:focus {
    scale: 1.1;

    background-color: var(--dark-blue);
    color: var(--smoke-white);
}

/* Main */


.content__video {
    margin: 2rem 0;
}

.content__youtube {
    border-radius: 0.625rem;
    box-shadow: 2px 2px 10px rgba(30, 30, 30, 0.8);
}

.content__subtitle {
    margin: 7rem 0 1.25rem 0;

    text-transform: uppercase;
}

.content__bibiography {
    line-height: 1;
}

.content__text--h10{
    font-size: 1.25rem;
    margin: 10px;
}   

.content__link {
    text-decoration: none;
    color: var(--sky-blue)
}

.content__link:visited {
    color: var(--sky-blue);
}

.content__link:hover,
.content__link:focus {
    color: var(--smoke-white);
}

.content__video {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;

    color: var(--sky-blue);
    text-align: left;
}

.content__award-text {
    padding: 1.25rem;
}

.content__award-text p {
    margin: 0 0 3rem;
}

.content__list {
    list-style: none;
    margin: 0 0 3rem;
}

.content__item { text-decoration: none;}

.content__subitem {
    list-style: none;
    margin: 0 0 1.5rem;
}

.content__subtitem { text-decoration: none;}




/* Footer */

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0;

    border-top: 0.125rem solid var(--smoke-white);

    text-align: center;

}

.social-media__links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social-media__item:hover {
    scale: 1.1;
}

.social-media__link {
    padding: 0.125rem;

    color: var(--sky-blue);

    font-size: 2rem;
}

.social-media__link:hover {
    color: var(--smoke-white);
}

.social-media__message { margin: 2rem 0;}